
  <div id="about">
    <div class="about-content">
      <h1>This template is built with
        <i class="fa fa-heart"></i> by</h1>
        <ul class="list-inline">
          <li>
             <img class="img-thumbnail" style="max-width: 90px" width="90" src="https://avatars3.githubusercontent.com/u/38411164?v=4">
              <img src="https://www.billboard.com/files/styles/article_main_image/public/media/Barack-Obama-and-Michelle-Obama-feb-2018-billboard-1548.jpg" class="main-media__image">
            <h2>Sébastien Saunier</h2>
            <p>
              <a href="http://github.com/ssaunier"><i class="fa fa-github"></i> ssaunier
              </a>      </p>
            </li>
            <li>
              <img src="https://kitt.lewagon.com/placeholder/users/papillard" class="img-circle" alt="Papillard">
              <h2>Boris Paillard</h2>
              <p>
                <a href="http://github.com/papillard"><i class="fa fa-github"></i> papillard
                </a>          </p>
              </li>
            </ul>
          </div>
        </div>































        <img src="https://kitt.lewagon.com/placeholder/users/papillard" class="img-circle" alt="Papillard">


















        <ul class="list-inline text-center">
          <li>
            <img src="https://kitt.lewagon.com/placeholder/users/papillard" alt="">
            <h3>Papillard</h3>
          </li>
          <li>
            <img src="https://kitt.lewagon.com/placeholder/users/ssaunier" alt="">
            <h3>Ssaunier</h3>
          </li>
          <li>
            <img src="https://kitt.lewagon.com/placeholder/users/monsieurpaillard" alt="">
            <h3>Monsieurpaillard</h3>
          </li>
        </ul>
